html {
    overflow-y: scroll; 
}

.banner-alert {
  position: fixed;
  width: 250px;
  z-index: 999999999;
  margin-top: -25px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  display: none;
}

.errorlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.inline-form {
  display: inline-block;
  margin: 0;
}

.no-margin {
  margin: 0;
}

.case-section-heading {
  border-bottom: 1px solid lightgray;
  margin-bottom: 1.0rem;
}

/***************************
 *** Key Term Styles
 ***************************/
.keyTermChildContainer {
  padding-top: 10px;
  height: 25px;
}

.toggleStatusLarge {
  font-size: 24px;
  vertical-align: middle;
}

.toggleStatusSmall {
  font-size: 20px;
  vertical-align: middle;
}

.statusActive {
  color: green;
}

.statusInactive {
  color: red;
}

/***************************
 *** Index Screen Styles
 ***************************/
div.indexItemContainer {
  
}

div.indexItemContainer > span.indexItemTitle {
  padding-bottom: 5px;
}

div.indexItemContainer > span.indexItemTitleOther {
  font-size: 0.9em;
}

div.indexItemContainer > .additionalInfo {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.9em;
}

div.indexItemContainer > span.indexLinks {
  float: right;
}

/***************************
 *** Pagination Styles
 ***************************/
.pagination {
  text-align: center;
  font-size: 0.9em;
}
