{% extends "foxfoi/index_base.html" %}

{% block pagetitle %}MPs{% endblock %}
{% block newitemlink %}{% url 'mp:new_mp' %}{% endblock %}
{% block edititemlink %}{% url 'mp:edit_mp' indexitem.id %}{% endblock %}
{% block editItemDisplayName %}{{ indexitem.title }} {{ indexitem.name }}{% endblock %}
{% block deleteLink %}{% url 'mp:delete_mp' indexitem.id %}{% endblock %}
{% block additionalInfo %}
    {{ indexitem.party }}
    <br/>
    {{ indexitem.constituency }}
    {% if indexitem.address|length > 0 %}
        <br/>
        <br/>
        {{ indexitem.address }}
        {% if indexitem.postcode|length > 0 %}
            <br/>
            {{ indexitem.postcode }}
        {% endif %}
    {% endif %}
{% endblock %}
