{% extends "foxfoi/base.html" %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h1>Delete {{ keyterm.name }}</h1>
            <p>Are you sure you want to delete this Key Term?</p>
            <form action="" method="post">
                {% csrf_token %}
                <input type="submit" value="Delete" class="button">
                <a href="{% url 'keyterms:index_keyterms' %}" class="button">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}
