{% extends "foxfoi/base.html" %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h1>Edit Key Term</h1>
            <form action="" method="post">
                <div class="row">
                    <div class="large-12 columns">
                        <label for="id_name" class="{% if form.name.errors %}error{% endif %}"/>Name:
                        {{ form.name }}
                        </label>
                        {% if form.name.errors %}
                        <small class="error">Please enter a name</small>
                        {% endif %}
                    </div>
                </div>
                {% csrf_token %}
                <input type="submit" value="Save" class="button">
                <a href="{% url 'keyterms:index_keyterms' %}" class="button">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}
