{% extends "foxfoi/base.html" %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h1>New Key Term</h1>
            {% if form.non_field_errors %}
                <div data-alert class="alert-box alert">
                  There was a problem saving the Key Term
                </div>
            {% endif %}
            <form action="" method="post">
                <div class="row">
                    <div class="large-12 columns">
                        <label for="id_name" class="{% if form.name.errors %}error{% endif %}"/>Name:
                        {{ form.name }}
                        </label>
                        {% if form.name.errors %}
                            {% for error in form.name.errors %}
                                <small class="error">{{error}}</small>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                {% csrf_token %}
                <input type="submit" value="Create" class="button">
                <a href="{% url 'keyterms:index_keyterms' %}" class="button">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}
