{% extends "foxfoi/base.html" %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h1>New MP</h1>
            <form action="" method="post">
                {% for field in form %}
                    <div class="row">
                        <div class="large-12 columns">
                            <label class="{% if field.errors %}error{% endif %}">{{ field.label_tag }}
                            {{ field }}
                            </label>
                            {% if field.errors %}
                                <small class="error">{{ field.errors }}</small>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                {% csrf_token %}
                <input type="submit" value="Create" class="button">
                <a href="{% url 'mps:index_mp' %}" class="button">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}
