{% extends "foxfoi/base.html" %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h1>New MP</h1>
            <form action="" method="post">
                <div class="row">
                    {% include "foxfoi/form_field.html" with field=form.title cols=2 %}
                    {% include "foxfoi/form_field.html" with field=form.name cols=10 %}
                </div>
                <div class="row">
                    {% include "foxfoi/form_field.html" with field=form.party cols=6 %}
                    {% include "foxfoi/form_field.html" with field=form.constituency cols=6 %}
                </div>
                <div class="row">
                    {% include "foxfoi/form_field.html" with field=form.address cols=10 %}
                    {% include "foxfoi/form_field.html" with field=form.postcode cols=2 %}
                </div>
                
                {% csrf_token %}
                <input type="submit" value="Create" class="button">
                <a href="{% url 'mps:index_mp' %}" class="button">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}
