<p align="center">
    <!--fo:external-graphic src="img/DoHA_Logo_Fee_Letter"/-->
</p>
<p align="left">
    <font size="10pt">
        {{ case.enquirer_title }}&#160;{{ case.enquirer_name }}
        <br/>
        {{ case.enquirer_organisation }}
        <br/>
        {{ case.enquirer_address }}
        <br/>
        {{ case.enquirer_postcode }}
    </font>
</p>
<p align="left">
    <font size="10pt">
        Dear {{ case.enquirer_title }}&#160;{{ case.enquirer_name }}
    </font>
</p>
<p align="left">
    <font size="10pt">
        <b>Your Freedom of Information Request No: {{ case.title }}</b>
    </font>
</p>
<p align="left">
    <font size="10pt">
        I refer to your request of {{ case.enquiry_date }} seeking access to documents under the Freedom of Information Act 1982 (the FOI Act) regarding {{ case.enquiry_description }}.
    </font>
</p>
<p align="left">
    <font size="10pt">
        We are writing to inform you that the Department has identified information concerning {{ assessment.get_request_concerning_display }} in the documents relevant to your request.  The Department has formed the view that it is appropriate to consult that third party in respect of the possible disclosure of their information.
    </font>
</p>
<p align="left">
    <font size="10pt">
        Under {% if assessment.request_concerning == 'FOREIGN' %}s 15(7){% else %}s 15(6){% endif %} of the FOI Act, the statutory period for processing an FOI request is extended by 30 days in these situations.   We advise that the timeframe for processing this request has been extended by 30 days in accordance with this provision and the date by which we must give you a decision is now 60 days from the date above.
    </font>
</p>
<p align="left">
    <font size="10pt">
        If you require clarification of any of the matters discussed in this letter, or have any queries throughout the process, please contact {{ assessment.contact_name }} on {{ assessment.contact_telephone }}.
    </font>
</p>
<p align="left">
    <font size="10pt">
        Yours Sincerely,
    </font>
</p>
