<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>FOX FOI</title>
        <link rel="stylesheet" type="text/css" href="/static/css/foundation.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/foundation-icons.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/application.css" />
        <script src="/static/js/vendor/modernizr.js"></script>
    </head>
    <body>

        <div class="contain-to-grid fixed">
            <nav class="top-bar" data-topbar>
                <ul class="title-area">
                    <li class="name">
                        <h1><a href="{% url 'foi:index_case' %}">FOX FOI</a></h1>
                    </li>
                    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
                </ul>
                {% if user.is_authenticated %}
                    <section class="top-bar-section">
                        <ul class="left">
                            <li class="divider"></li>
                            <li><a href="{% url 'mps:index_mp' %}">MPs</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'keyterms:index_keyterms' %}">Key Terms</a></li>
                        </ul>
                    </section>
                    <section class="top-bar-section">
                        <ul class="right">
                            <li><a href="#">{{ user.username }}</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'logout' %}">Log Out</a></li>
                        </ul>
                    </section>
                {% endif %}
            </nav>
        </div>

        {% block content %}{% endblock %}

        <hr />
        <footer>
            <div class="row">
                <div class="large-12 columns">
                    <p>&copy; {% now "Y" %} - FOX FOI</p>
                </div>
            </div>
        </footer>
        
        <script src="/static/js/vendor/jquery.js"></script>
        <script src="/static/js/foundation.min.js"></script> 
        <script>
          $(document).foundation();
        </script>
        <script src="/static/js/jquery-ui-1.10.4.js"></script>
        <script src="/static/js/jquery-ui-touch-punch.js"></script>
        <script src="/static/js/utils.js"></script>
        <script src="/static/js/application.js"></script> 
    </body>
</html>
