{% extends "foxfoi/base.html" %}

{% block content %}
    {% block preContent %}{% endblock %}
    <div class="row">
        <div class="large-12 columns">
            {% block pagetitleMaster %}<h1>{% block pagetitle %}{% endblock %}</h1>{% endblock %}
            {% block newitemMaster %}<p><a href="{% block newitemlink %}{% endblock %}">Add New</a></p>{% endblock %}
            {% block indexSearchMaster %}
                {% include "foxfoi/index_search.html" %}
            {% endblock %}
            <div class="indexItemListContainer">
                {% for indexitem in indexitems %}
                    <div class="indexRowContainer">
                        <hr/>
                        <div class="indexItemContainer">
                            <span class="indexItemTitle">
                                {% block editLinkMaster %}
                                    <a href="{% block edititemlink %}{% endblock %}" data-reveal-id="itemModal" data-reveal-ajax="true">{% block editItemDisplayName %}{% endblock %}</a>
                                {% endblock %}
                            </span>
                            <span class="indexItemTitleOther">
                                {% block indexItemTitleOtherText %}{% endblock %}
                            </span>
                            <span class="indexLinks">
                                {% block indexLinkAdditional %}{% endblock %}
                                {% block deleteLinkMaster %}[<a href="{% block deleteLink %}{% endblock %}" data-reveal-id="itemModal" data-reveal-ajax="true">Delete</a>]{% endblock %}
                            </span>
                            {% block additionalInfoMaster %}<div class="additionalInfo">{% block additionalInfo %}{% endblock %}</div>{% endblock %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% include "foxfoi/pagination.html" %}
        </div>
    </div>
    <div id="itemModal" class="reveal-modal" data-reveal></div>
{% endblock %}
