{% extends "foxfoi/base.html" %}

{% block content %}
    {% block preContent %}{% endblock %}
    <div class="row">
        <div class="large-12 columns">
            {% block pagetitleMaster %}<h1>{% block pagetitle %}{% endblock %}</h1>{% endblock %}
            {% block newitemMaster %}<p><a href="{% block newitemlink %}{% endblock %}">Add New</a></p>{% endblock %}
            {% for indexitem in indexitems %}
                <hr/>
                <div class="indexItemContainer">
                    <span class="indexItemTitle"><a href="{% block edititemlink %}{% endblock %}">{% block editItemDisplayName %}{% endblock %}</a></span>
                    <span class="indexLinks">
                        {% block deleteLinkMaster %}[<a href="{% block deleteLink %}{% endblock %}">Delete</a>]{% endblock %}
                    </span>
                    {% block additionalInfoMaster %}<div class="additionalInfo">{% block additionalInfo %}{% endblock %}</div>{% endblock %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}