{% extends "foi/case_base.html" %}

{% block activepage %}case_aat{% endblock %}

{% block case_content %}
    <div class="row">
        <div class="large-12 columns">
            <form action="" method="post">
                {% for field in form %}
                    <div class="row">
                        <div class="large-12 columns">
                            <label class="{% if field.errors %}error{% endif %}">{{ field.label_tag }}
                            {{ field }}
                            </label>
                            {% if field.errors %}
                                <small class="error">{{ field.errors }}</small>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                {% csrf_token %}
                <input type="submit" value="Save" class="button">
            </form>
        </div>
    </div>
{% endblock %}