{% extends "foxfoi/index_base.html" %}

{% block preContent %}
    <div class="row">
        <div class="large-12 columns">
            <input id="active_page" type="hidden" value="{% block activepage %}{% endblock %}"/>
            <br/>
            {% include "foi/case_sections.html" %}
            {% block case_content %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block pagetitleMaster %}{% endblock %}
{% block newitemMaster %}{% endblock %}
{% block indexSearchMaster %}{% endblock %}
