{% extends "foxfoi/base.html" %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <input id="active_page" type="hidden" value="{% block activepage %}{% endblock %}"/>
            <br/>
            {% include "foi/case_sections.html" %}
            {% block case_content %}{% endblock %}
            <div class="row">
                <div class="large-12 columns">
                    {% block pagetitleMaster %}<h1>{% block pagetitle %}{% endblock %}</h1>{% endblock %}
                    {% block newitemMaster %}<p><a href="{% block newitemlink %}{% endblock %}">Add New</a></p>{% endblock %}
                    <div class="indexItemListContainer">
                        {% for indexitem in indexitems %}
                            <div class="indexRowContainer">
                                <hr/>
                                <div class="indexItemContainer">
                                    <span class="indexItemTitle">
                                        <a href="{% block editURL %}{% endblock %}" data-reveal-id="deleteItemModal" data-reveal-ajax="true">{% block editItemDisplayName %}{% endblock %}</a>
                                    </span>
                                    <span class="indexItemTitleOther">
                                        {% block indexItemTitleOtherText %}{% endblock %}
                                    </span>
                                    <span class="indexLinks">
                                        {% block indexLinkAdditional %}{% endblock %}
                                        {% block deleteLinkMaster %}[<a href="{% block deleteURL %}{% endblock %}" data-reveal-id="deleteItemModal" data-reveal-ajax="true">Delete</a>]{% endblock %}
                                    </span>
                                    {% block additionalInfoMaster %}<span class="additionalInfo">{% block additionalInfo %}{% endblock %}</span>{% endblock %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="editItemModal" class="reveal-modal" data-reveal></div>
            <div id="deleteItemModal" class="reveal-modal" data-reveal></div>
        </div>
    </div>
{% endblock %}
