{% extends "foi/case_index_base.html" %}

{% block activepage %}case_comments{% endblock %}

{% block case_content %}
    <div class="row">
        <div class="large-12 columns">
            <form action="" method="post">
                <div class="row">
                    <div class="large-12 columns">
                        <label for="id_subject" class="{% if form.subject.errors %}error{% endif %}"/>Subject:
                        {{ form.subject }}
                        </label>
                        {% if form.subject.errors %}
                        <small class="error">Please enter a subject</small>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <label for="id_body" class="{% if form.body.errors %}error{% endif %}"/>Body:
                        {{ form.body }}
                        </label>
                        {% if form.body.errors %}
                        <small class="error">Please fill in the comment body</small>
                        {% endif %}
                    </div>
                </div>
                {% csrf_token %}
                <input type="submit" value="Save" class="button no-margin">
            </form>
        </div>
    </div>
{% endblock %}

{% block pagetitleMaster %}{% endblock %}
{% block newitemMaster %}{% endblock %}
{% block edititemlink %}{% url 'foi:edit_comment' case.id indexitem.id %}{% endblock %}
{% block editItemDisplayName %}{{ indexitem.subject }}{% endblock %}
{% block deleteLink %}{% url 'foi:delete_comment' case.id indexitem.id %}{% endblock %}
{% block additionalInfo %}Created by {{ indexitem.created_by }} on {{ indexitem.created_date }}{% endblock %}
