{% extends "foi/case_base.html" %}

{% block activepage %}case_index{% endblock %}

{% block case_content %}
    <form action="" method="post">
        <h3>Case Details</h3>
        {% for field in case_form %}
            {% include "foxfoi/form_field.html" with field=field cols=12 %}
        {% endfor %}
        <h3>Enquirer Details</h3>
        {% for field in case_enquirer_form %}
            {% include "foxfoi/form_field.html" with field=field cols=12 %}
        {% endfor %}
        {% csrf_token %}
        <input type="submit" value="Save" class="button">
    </form>
{% endblock %}
