<div class="row">
    <div class="large-12 columns">
        <h1>Edit Comment</h1>
        <form action="{% url 'foi:edit_comment' case.id comment.id %}" method="post">
            <div class="row">
                <div class="large-12 columns">
                    <label for="id_subject" class="{% if form.subject.errors %}error{% endif %}"/>Subject:
                    {{ form.subject }}
                    </label>
                    {% if form.subject.errors %}
                    <small class="error">Please enter a subject</small>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label for="id_body" class="{% if form.body.errors %}error{% endif %}"/>Body:
                    {{ form.body }}
                    </label>
                    {% if form.body.errors %}
                    <small class="error">Please fill in the comment body</small>
                    {% endif %}
                </div>
            </div>
            {% csrf_token %}
            <input type="submit" value="Save" class="button">
        </form>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>
