{% extends "foi/case_base.html" %}

{% block activepage %}case_ica{% endblock %}

{% block case_content %}
    <div class="row">
        <div class="large-12 columns">
            <form action="" method="post">
                <h3 class="case-section-heading">Information Commissioner Appeal</h3>
                <div class="row">
                    {% include "foxfoi/form_field.html" with field=form.contacted_date cols=4 %}
                    {% include "foxfoi/form_field.html" with field=form.documents_provided_date cols=4 %}
                    {% include "foxfoi/form_field.html" with field=form.decision_recieved_date cols=4 %}
                </div>
                <div class="row">
                    {% include "foxfoi/form_field.html" with field=form.decision cols=12 %}
                </div>
                <div class="row">
                    {% include "foxfoi/form_field.html" with field=form.decision_notice cols=12 %}
                </div>

                {% csrf_token %}
                <input type="submit" value="Save" class="button">
            </form>
        </div>
    </div>
{% endblock %}