{% extends "foxfoi/index_base.html" %}

{% block pagetitle %}FOI Cases{% endblock %}
{% block newitemlink %}{% url 'foi:new_case' %}{% endblock %}
{% block edititemlink %}{% url 'foi:edit_case' indexitem.id %}{% endblock %}
{% block editItemDisplayName %}
    {{ indexitem.title }}
    {% if indexitem.id in referrals %}[Referred]{% endif %}
{% endblock %}
{% block deleteLink %}{% url 'foi:delete_case' indexitem.id %}{% endblock %}
{% block additionalInfo %}Created on {{ indexitem.created_date }}{% endblock %}
