{% extends "foxfoi/base.html" %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h1>New Case</h1>
            <form action="" method="post">
                <div class="row">
                    <div class="large-12 columns">
                        <label for="id_name" class="{% if form.title.errors %}error{% endif %}"/>Title:
                        {{ form.title }}
                        </label>
                        {% if form.title.errors %}
                        <small class="error">Please enter a title for this case</small>
                        {% endif %}
                    </div>
                </div>
                {% csrf_token %}
                <input type="submit" value="Create" class="button">
                <a href="{% url 'foi:index_case' %}" class="button">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}
