{% extends "foi/case_base.html" %}

{% block activepage %}case_outcome{% endblock %}

{% block case_content %}
    <div class="row">
        <div class="large-12 columns">
            <form action="" method="post">
                <h3 class="case-section-heading">List A (Specific Outcomes)</h3>
                <div class="row">
                    {% include "foxfoi/form_field.html" with field=form.foi_outcomes cols=12 %}
                </div>
                <h3 class="case-section-heading">List B (Exemptions/Exception/Certificates)</h3>
                <div class="row">
                    {% include "foxfoi/form_field.html" with field=form.foi_exemptions cols=12 %}
                </div>
                <div class="row">
                    {% include "foxfoi/form_field.html" with field=form.foi_conditional_exemptions cols=12 %}
                </div>
                <div class="row">
                    {% include "foxfoi/form_field.html" with field=form.certificates cols=12 %}
                </div>
                <h3 class="case-section-heading">List C (Disclosure Outcomes)</h3>
                <div class="row">
                    {% include "foxfoi/form_field.html" with field=form.disclosure_outcomes cols=12 %}
                </div>
                {% csrf_token %}
                <input type="submit" value="Save" class="button">
            </form>
        </div>
    </div>
{% endblock %}