{% extends "foi/case_index_base.html" %}

{% block activepage %}case_referrals{% endblock %}

{% block case_content %}
    <div class="row">
        <div class="large-12 columns">
            <form action="" method="post">
                <div class="row">
                    <div class="large-12 columns">
                        <label for="id_subject" class="{% if form.subject.errors %}error{% endif %}"/>Subject:
                        {{ form.subject }}
                        </label>
                        {% if form.subject.errors %}
                        <small class="error">{{ form.subject.errors }}</small>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <label for="id_body" class="{% if form.body.errors %}error{% endif %}"/>Body:
                        {{ form.body }}
                        </label>
                        {% if form.body.errors %}
                        <small class="error">{{ form.body.errors }}</small>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <label for="id_refer_to" class="{% if form.refer_to.errors %}error{% endif %}"/>Refer To:
                        {{ form.refer_to }}
                        </label>
                        {% if form.refer_to.errors %}
                        <small class="error">{{ form.refer_to.errors }}</small>
                        {% endif %}
                    </div>
                </div>
                {% csrf_token %}
                <input type="submit" value="Save" class="button no-margin">
            </form>
        </div>
    </div>
{% endblock %}

{% block pagetitleMaster %}{% endblock %}
{% block newitemMaster %}{% endblock %}
{% block editURL %}{% url 'foi:edit_referral' case.id indexitem.id %}{% endblock %}
{% block editItemDisplayName %}{{ indexitem.subject }}{% endblock %}
{% block indexItemTitleOtherText %}[{{ indexitem.get_status_display }}]{% endblock %}
{% block indexLinkAdditional %}
    {% if indexitem.refer_to = user and indexitem.is_open %}
        <form class="complete-referral-form inline-form" action="{% url 'foi:complete_referral' case.id indexitem.id %}" method="post">
            [<a href="#">Complete Referral</a>]
            {% csrf_token %}
        </form>
    {% endif %}
{% endblock %}
{% block deleteURL %}{% url 'foi:delete_referral' case.id indexitem.id %}{% endblock %}
{% block additionalInfo %}Sent to {{ indexitem.refer_to }} on {{ indexitem.created_date }}{% endblock %}
